# Database
SQL_HOST=
SQL_USER=
SQL_PASSWORD=
SQL_DB_NAME=

# Auth
JWT_SECRET=
OTP_EXPIRY_MINUTES=10

# Services
MSG91_AUTH_KEY=
MSG91_TEMPLATE_ID=
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=
RAZORPAY_WEBHOOK_SECRET=

# Redis (Optional)
REDIS_URL=
